*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin sans', sans-serif;
  box-sizing: border-box;
}
.hero{
  height: 20vh;
  width: 100%;
  background-color:white;
  background-size:100%;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 8%;
}
.logo{
  color: black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span{
  color: rgb(106, 136, 136);
}
img{
 border-style: dashed;
 box-sizing: content-box;
 border-width: 1rem;
 border-color: rgb(106, 136, 136);
}
nav ul li{
  list-style-type: none;
  display:inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: black;
  text-decoration:none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: rgb(106, 136, 136);
  transition: 2s;
}
.btn{
  background-color:transparent;
  color: black;
  text-decoration: none;
  border: 2px solid  rgb(106, 136, 136);
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .2s;
}
.btn:hover{
  transform: scale(1.2);
}
#content{
  border-style: none;
  width:100%;
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3{
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4{
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 20px;
}
.newslatter form{
  width:300px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding:14px 130px 14px 15px;
  border:2px solid rgb(106, 136, 136);
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border:none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color:rgb(106, 136, 136);
  color:white;
  box-shadow: 0px 0px 5px black, 0px 0px 15px black;
  top:6px;
  right:6px;
}
#myphoto {
border-radius: 100%;
border-color: rgb(106, 136, 136);
border-style:outset;
float: right;
margin-right: 220px;
margin-top: 65px;
}
.about{
  width: 100%;
  padding:100px 0px;
  background-color: white;
  margin-top: 2px;  
}

.about img{
  height:auto;
  width:430px;
  border: none;
}

.about-text{
  width:550px;
}

.main{
  width: 1130px;
  max-width:95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2{
  color:rgb(106, 136, 136);
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color:black;
  letter-spacing:2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
 button{
  background-color:transparent;
  color: black;
  text-decoration: none;
  border: 2px solid  rgb(106, 136, 136);
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .2s;
 }
button:hover{
  background-color: transparent;
  border: 2px solid rgb(106, 136, 136);
  cursor:pointer;
  transform: scale(1.2);
}

.portfolio{
  background-color:rgb(30, 29, 29)  ;
  width: 100%;
  padding:100px 0px;
}

.title h2{
  color: rgb(106, 136, 136);
  font-size: 55px;
  width: 1130px;
  margin-left: auto;
  margin-top: auto;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 50px;
 
}
.html {
  height:150px;
  width: 335px;
  padding: 20px 35px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow:hidden;
  text-align:center;
}
.html .button img{
  width: 80px;
  height:80px;
  border-style: none;

}
.css {
  height:150px;
  width: 335px;
  padding: 20px 35px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow:hidden;
  text-align:center;
}
.css .button img{
  width: 80px;
  height:80px;
  border-style: none;

}
.Js {
  height:150px;
  width: 335px;
  padding: 20px 35px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow:hidden;
  text-align:center;
}
.Js .button img{
  width: 80px;
  height:80px;
  border-style: none;

}
h5{
  color:white;
  font-size: 20px;
  margin-bottom: 25px;
}
.Resume {
  padding:10%;
  width: 100%;;
  height: 200px;
  text-align:center;
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content: center;
  margin: 20px auto;
  }
  .Resume h2 {
    color:rgb(106, 136, 136);
    padding: 40px;
    font-size: 45px;
  }
  .Resume img{
    width:100px;
    height: 100px;
    border-style: none;
    margin-bottom: 10px;
  }
  
 .contact-me{
   width: 100%;
   height: 200px;
   background-color:rgb(30, 29, 29) ;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
 }
 .contact-me h2 {
  color:rgb(106, 136, 136);
  padding: 10px;
  font-size: 45px;
  margin-top: 30px;
 }
 .contact-me img{
  border-style: none;
  width: 140px;
  height: 130px;
  padding: 10pxS;
 }
 footer{
  width: 100%;
  height:20%;
  text-align:center;
  margin: 30px;
 }


