*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin sans', sans-serif;
  box-sizing: border-box;
}

.hero{
  box-sizing: content-box;
  background-color:white;
  background-size:100%;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
  justify-content:space-between;
}

.logo{
  color: black;
  font-size: 4vw;
  letter-spacing: 1px;
  cursor: pointer;
 
}
span{
  color: rgb(106, 136, 136);
}
.logo img{
 border-style: dashed;
 box-sizing: content-box;
 border-width: 1rem;
 border-color: rgb(106, 136, 136);
 
}
nav ul li{
  list-style-type: none;
  display:inline-block;
  padding: 10px 10px;
  
}

nav ul li a{
  color: black;
  text-decoration:none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: rgb(106, 136, 136);
  transition: 2s;
}

.btn{
  background-color:transparent;
  color: black;
  text-decoration: none;
  border: 2px solid  rgb(106, 136, 136);
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .2s;
}
.btn:hover{
  transform: scale(1.2);
}
#content{
  border-style: none;
  width:100%;
}
.about{
  box-sizing: border-box;
  background-color: white;
  margin-top: 2px; 
  padding: 35px;

}
.about img{
 float: left;
 margin-right: 20px;
 margin-bottom: 20px;
 width: 50%;
 border: none;
}

.about-text{
  width:550px;
}

.main{
  width: 1130px;
  max-width:95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2{
  color:rgb(106, 136, 136);
  font-size: 4vw;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color:black;
  letter-spacing:2px;
  font-size: 2.5vw;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 80%;
  margin-bottom: 45px;
  text-align:left;
}
.about-text button{
  background-color:transparent;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  border:2px solid rgb(106, 136, 136);
  border-radius: 90%;
}
 button{
  background-color:transparent;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  border-style: none;
 }
button:hover{
  background-color: transparent;
  cursor:pointer;
  transform: scale(1.2);
}

.portfolio{
  width: 100%;
  height: 300px;
  background-color:rgb(30, 29, 29) ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.portfolio img{
  width:100px;
    height: 100px;
    border-style: none;
    margin-bottom: 10px;
}

.portfolio h2{
  color:rgb(106, 136, 136);
  padding: 40px;
  font-size: 4vw;
  text-align: center;
}
h5{
  color:white;
  font-size: 20px;
  margin-bottom: 25px;
}
.Certificates {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  .Certificates h2 {
    color:rgb(106, 136, 136);
    padding: 40px;
    font-size: 4vw;
  }
  .Certificates img{
    width:100px;
    height: 100px;
    border-style: none;
    margin-bottom: 10px;
  }
  
 .contact-me{
   width: 100%;
   height: 300px;
   background-color:rgb(30, 29, 29) ;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
 }
 .contact-me h2 {
  color:rgb(106, 136, 136);
  padding: 10px;
  font-size: 4vw;
  margin-top: 30px;
 }
 .contact-me img{
  border-style: none;
  width: 120px;
  height: 130px;
  padding: 10px;

 }
 footer{
  width: 100%;
  height:1.5%;
  text-align:center;
  margin: 20px auto;
  font-size: 1.5vw;
 }

 .Myresume  img{
  border: 5px double black;
  border-radius: 4px;
  display: block;
  margin: 45px auto;
  margin-Top: 20px ;
  width: 70%;
 }
 .Myresume button{
  border: 2px solid rgb(106, 136, 136);
  background-color: transparent;
  margin: 45px auto;
 display:block;
 border-radius: 20px;
font-size: 1.5vw;
 }

 .grid-container {
  display: grid;
  margin: 100px;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  grid-gap:50px;

 }

.grid-item{ 
 background-color:rgb(185, 196, 196) ;
 border: 5px double black;
 padding:2vw;
 display: flex;
 align-items: center;
 justify-content: center;
 font-style: italic;
 font-weight: 8000;
}
